

<button class="btn btn-primary" onclick="printorder()">打印</button>
<div id="orderDetail" style="width:200px">{{{sysorder.template}}}</div>



<script type="text/javascript">
 $(window).load(function() {
        html2canvas(document.querySelector("#orderDetail")).then(function(canvas) {
            
            canvas.setAttribute("id", "detailprintcanvas");
          //  $("#orderDetail").html(canvas)
             $("#orderDetail").html(
               Canvas2Image.convertToPNG(
                  canvas,
                  $("#orderDetail").attr('width'),
                  $("#orderDetail").attr('height')))
        });
       });




  var printorder = function(){
     $("#orderDetail").print({
            globalStyles: false,
            mediaPrint: false,
            stylesheet: null,
            noPrintSelector: ".no-print",
            iframe: true,
            append: null,
            prepend: null,
            manuallyCopyFormValues: true,
            deferred: $.Deferred(),
            timeout: 250,
                title: null,
                doctype: '<!doctype html>'
    });
  }
</script>
    <script type="text/javascript" src="/js/html2canvas.js"></script>
    <script type="text/javascript" src="/js/canvas2image.js"></script>