
 
        
<div class="row">
  <div class="col-md-6"><div id="orderDetail">{{{sysorder.template}}}</div></div>
  <div class="col-md-6"><div ><div id="drawid"></div></div></div>
  
</div>
<div class="row">
  <div class="col-md-6"><div id="printdiv"><div id="drawid2"></div></div></div>
</div>
<button class="btn btn-primary" onclick="printorder()">打印</button>

<script type="text/javascript">
 $(window).load(function() {
        html2canvas(document.querySelector("#orderDetail")).then(function(canvas) {
            canvas.setAttribute("id", "detailprintcanvas");
            document.querySelector("#drawid").appendChild(canvas);
        });
      
       });




  var printorder = function(){
    var canvas = document.getElementById('detailprintcanvas');
    document.querySelector("#drawid2").appendChild(
               Canvas2Image.convertToJPEG(
                  canvas, 
                  $("#detailprintcanvas").width(),
                  $("#detailprintcanvas").height()))

     $("#printdiv").print({
            globalStyles: false,
            mediaPrint: false,
            stylesheet: null,
            noPrintSelector: ".no-print",
            iframe: true,
            append: null,
            prepend: null,
            manuallyCopyFormValues: true,
            deferred: $.Deferred(),
            timeout: 250,
                title: null,
                doctype: '<!doctype html>'
    });
  }
</script>
    <script type="text/javascript" src="/js/html2canvas.js"></script>
    <script type="text/javascript" src="/js/canvas2image.js"></script>