
<div class="panel panel-default">
  <div class="panel-heading">用户详情</div>
  <div class="panel-body">
    <ul class="list-group">

        <li class="list-group-item">{{sysorder.template}}</li>      

    </ul>
    <a href="/org/orgusermodify?id={{user._id}}" style="cursor:hand" >修改</a>
  </div>
</div>