{{#if errors}}
    {{#each errors}}
       <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
{{/if}}
<form method="POST" action="/register" >
  <div class="form-group">
    <label for="username">用户名</label>
    <input type="mobile" class="form-control" name="username" placeholder="请输入手机号码">
  </div>
  <div class="form-group">
    <label for="password1">密码</label>
    <input type="password" class="form-control" name="password1" placeholder="请输入密码">
  </div>
  <div class="form-group">
    <label for="password2">再次输入密码</label>
    <input type="password" class="form-control" name="password2" placeholder="请重复输入密码">
  </div>
  <button type="submit" class="btn btn-default">注册</button>
</form>