<html lang="zh-cmn-Hans">
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>快递员绑定</title>      
    <link rel="stylesheet" href="//cdn.bootcss.com/weui/0.4.2/style/weui.css"/>
    <script type="text/javascript" src="/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="/bower_components/distpicker/dist/distpicker.data.js"></script>
    <script type="text/javascript" src="/bower_components/distpicker/dist/distpicker.js"></script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

    <script type="text/javascript" src="chrome-extension://aadgmnobpdmgmigaicncghmmoeflnamj/ng-inspector.js"></script><style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
    .en-markup-crop-options {
        top: 18px !important;
        left: 50% !important;
        margin-left: -100px !important;
        width: 200px !important;
        border: 2px rgba(255,255,255,.38) solid !important;
        border-radius: 4px !important;
    }

    .en-markup-crop-options div div:first-of-type {
        margin-left: 0px !important;
    }
    </style>
</head>
<body ontouchstart="" data-pinterest-extension-installed="cr1.39.1">
    <div class="container" id="container">
        <div class="msg">
            <div class="weui_msg">
                <div class="weui_icon_area">
                    <i class="{{getmsglogo result}} weui_icon_msg"></i>
                </div>
                <div class="weui_text_area">
                    <h2 class="weui_msg_title">{{getresultinfo result}}</h2>
                    <!--<p class="weui_msg_desc">内容详情，可根据实际需要安排</p>-->
                </div>
                <div class="weui_opr_area">
                    <p class="weui_btn_area">
                        <a href="javascript:;" class="weui_btn weui_btn_primary" onclick="WeixinJSBridge.call('closeWindow');">确定</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</body>
</html>