<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="/admin/admindash">控制面板</a></li>
  <li role="presentation" ><a href="/admin/userlist">快递员列表</a></li>
</ul>

<script src="/node_modules/chart.js/dist/Chart.min.js"></script>
<script src="/node_modules/jquery-weui/dist/lib/jquery-2.1.4.js"></script>
<link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/icon.css">
<link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/color.css">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.min.js"></script>
<script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>


    <table id="dg" title="Custom DataGrid Pager" style="width:100%;height:500px" toolbar="#toolbar"
            data-options="rownumbers:true,singleSelect:true,pagination:true,pageSize:10,url:'/orgbi/getorgorderdata',method:'get'">
        <thead>
            <tr>
                <th data-options="field:'sendid'" formatter="getname">寄件人</th>
                <th data-options="field:'receiveid'" formatter="getname">收件人</th>
                <th data-options="field:'logisticorder'">运单号</th>
            </tr>
        </thead>
    </table>

    <div id="toolbar">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="accept()">接单</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-man" plain="true" onclick="detail()">详情</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-print" plain="true" onclick="print()">打印</a>
    </div>
 <div id="dlg" class="easyui-dialog"  style="width:400px;height:200px;padding:10px">
            <input id="name">
    </div>

    <script type="text/javascript">
        $(function(){
            var pager = $('#dg').datagrid().datagrid('getPager');    // get the pager of datagrid          
        })
    </script>

 <script>
      function detail(){
            var row = $('#dg').datagrid('getSelected');
            if (row){
                $('#dlg').dialog({
                    title: '详细信息',
                    width: 400,
                    height: 200,
                    modal: true,
                    onOpen:function(){
                        $('#name').val(row._id);
                    }
                });
            }
            console.log(row)
        }
        
        function print(){
            var row = $('#dg').datagrid('getSelected');

            console.log(row)
        }

    function getname(value){
        return value.name+' '+value.tele;
    };
</script>
