<ul class="nav nav-tabs">
  <li role="presentation"><a href="/org/orgdash">控制面板</a></li>
  <li role="presentation" ><a href="/org/orguserlist">快递员列表</a></li>
  <!--<li role="presentation" ><a href="/org/orderlist?p=1">订单列表</a></li>-->
  <li role="presentation"  class="active"><a href="/orgbi/orderlistdatagrid">订单列表</a></li>
</ul>

<link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/icon.css">
<link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/color.css">
<script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/color.css">


    <table id="dg" title="Custom DataGrid Pager" style="width:100%;height:500px" toolbar="#toolbar"
            data-options="rownumbers:true,singleSelect:true,pagination:true,pageSize:10,url:'/orgbi/getorgorderdata?orgid={{orgid}}',method:'get'">
        <thead>
            <tr>
                <th data-options="field:'sendid'" formatter="getname">寄件人</th>
                <th data-options="field:'receiveid'" formatter="getname">收件人</th>
                <th data-options="field:'logisticorder'">运单号</th>
            </tr>
        </thead>
    </table>

    <div id="toolbar">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="accept()">接单</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-man" plain="true" onclick="detail()">详情</a>
    </div>
 <div id="dlg" class="easyui-dialog" closed="true" style="width:800px;height:600px;padding:10px">
            <table border="1" class="easyui-table">
            <tr>
                <td>寄件地址</td>
                <td><label class="easyui-label" id="sendloc"  style="width:100%"></label></td>
            </tr>
            <tr>
                <td>寄件人</td>
                <td><label id="sendname" class="easyui-label"  style="width:100%"></label></td>
            </tr>
            <tr>
                <td>寄件人电话</td>
                <td><label id="sendtele" class="easyui-label" style="width:100%"></label></td>
            </tr>
            <tr>
                <td>收件地址</td>
                <td><label id="receloc"  class="easyui-label" style="width:100%"></label></td>
            </tr>
            <tr>
                <td>收件人</td>
                <td><label id="recename" class="easyui-label"  style="width:100%"></label></td>
            </tr>
            <tr>
                <td>收件人电话</td>
                <td><label id="recetele" class="easyui-label"  style="width:100%"></label></td>
            </tr>
            <tr>
                <td>电子面单</td>
                <td><div id="template" ></div></td>
            </tr>
            </table>
    </div>
        <!--接单dialog-->
    <div id="dlg2" class="easyui-dialog" closed="true" >
        接单意味着您已经收件，是否确认？
    </div>

    <script type="text/javascript">
        $(function(){
            var pager = $('#dg').datagrid().datagrid('getPager');    // get the pager of datagrid          
        })
    </script>

 <script>
      function detail(){
            var row = $('#dg').datagrid('getSelected');
            if (row){
               $('#dlg').dialog({
                    title: '详细信息',
                    width: 600,
                    height: 600,
                    modal: true,
                    onOpen:function(){
                         $('#sendloc').text(row['sendid']['name']+row['sendid']['cityname']+row['sendid']['expareaname']+row['sendid']['address']);
                          $('#sendname').text(row['sendid']['name']);
                        $('#sendtele').text(row['sendid']['tele']);
                         $('#receloc').text(row['receiveid']['provincename']+row['receiveid']['cityname']+row['receiveid']['expareaname']+row['receiveid']['address']);
                          $('#recename').text(row['receiveid']['name']);
                           $('#recetele').text(row['receiveid']['tele']);
                           $('#template').html(row['template']);
                    },
                    toolbar:[{
                        text:'打印',
                        iconCls:'icon-print',
                        handler:function(){
                             $("#template").print({
                                    globalStyles: false,
                                    mediaPrint: false,
                                    stylesheet: null,
                                    noPrintSelector: ".no-print",
                                    iframe: true,
                                    append: null,
                                    prepend: null,
                                    manuallyCopyFormValues: true,
                                    deferred: $.Deferred(),
                                    timeout: 250,
                                        title: null,
                                        doctype: '<!doctype html>'
                            });    
                        }
                    }]
                });
                $('#dlg').dialog('open').dialog('center')
            }
            console.log(row)
        }
        

    function getname(value){
        return value.name+' '+value.tele;
    };
    function accept(){
        var row = $('#dg').datagrid('getSelected');
            if (row){
                 $('#dlg2').dialog({
                    title: '详细信息',
                    width: 600,
                    height: 600,
                    modal: true,
                    buttons:[{
                        text:'确认',
                        handler:function(){
                            var orderid = row._id;//订单id
                            $.ajax({
                                url: '/orgbi/pickupdateorder',
                                data:{ "orderid": orderid}
                                success: function(){
                                    $.alert('接单成功！')
                                    $('#dg').datagrid('reload');
                                }
                                });
                        }
                    },{
                        text:'取消',
                        handler:function(){
                            $('#dlg2').dialog('close')
                        }
                    }]
                });
                $('#dlg').dialog('open').dialog('center')
            }
    }
</script>
