<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
 <title>WeUI</title>      
<link rel="stylesheet" href="//cdn.bootcss.com/weui/0.4.2/style/weui.css"/>
<script type="text/javascript" src="/js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/bower_components/distpicker/dist/distpicker.data.js"></script>
<script type="text/javascript" src="/bower_components/distpicker/dist/distpicker.js"></script>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>

<body>
    <form method="POST"  action="/customer/location">
        <div class="cell">
            <div class="weui_cells_title">新增地址</div>
                
                <div class="weui_cells">
                     <div data-toggle="distpicker">
                    <div class="weui_cell">
                        <div class="weui_cell_hd">
                            <label class="weui_label">收件人公司</label>
                        </div>
                        <div class="weui_cell_bd">
                            <input class="weui_input" name="company" type="text" placeholder="选填">
                        </div>
                    </div>
                    <div class="weui_cell">
                        <div class="weui_cell_hd">
                            <label class="weui_label">收件人</label>
                        </div>
                        <div class="weui_cell_bd">
                            <input class="weui_input" name="name" type="text" placeholder="必填">
                        </div>
                    </div>
                    <div class="weui_cell">
                        <div class="weui_cell_hd">
                            <label class="weui_label">联系电话</label>
                        </div>
                        <div class="weui_cell_bd">
                            <input class="weui_input" name="tel" type="tel" placeholder="必填">
                        </div>
                    </div>
                    <div class="weui_cell">
                        <div class="weui_cell_hd">
                            <label class="weui_label">邮编</label>
                        </div>
                        <div class="weui_cell_bd">
                            <input class="weui_input" name="postcode" type="text" placeholder="选填">
                        </div>
                    </div>                     
                       
                            <div class="weui_cell">
                                <div class="weui_cell_hd">
                                    <label class="weui_label">省</label>
                                </div>
                                <div class="weui_cell_bd">
                                    <select name="provincename" class="weui_select" data-province="---- 选择省 ----"></select>
                                </div>
                            </div>
                            <div class="weui_cell">
                                <div class="weui_cell_hd">
                                    <label class="weui_label">市</label>
                                </div>
                                <div class="weui_cell_bd">
                                    <select name="cityname" class="weui_select" data-city="---- 选择市 ----"></select>
                                </div>
                            </div>
                            <div class="weui_cell">
                                <div class="weui_cell_hd">
                                    <label class="weui_label">区县</label>
                                </div>
                                <div class="weui_cell_bd">
                                    <select name="expareaname" class="weui_select" data-district="---- 选择区 ----"></select>
                                </div>
                            </div>
                        
                    <div class="weui_cell">
                        <div class="weui_cell_hd">
                            <label class="weui_label">详细地址</label>
                        </div>
                        <div class="weui_cell_bd">
                            <input class="weui_input" name="address" type="text" placeholder="必填">
                        </div>
                    </div>

                    </div>

                    <div class="weui_btn_area">
                        <button type="submit" class="weui_btn weui_btn_primary">提交</button>
                    </div>
                </div>  
        </div>
    </form>
<script type="text/javascript">
//ajax访问／wechatbase/getconfig，来获取config
var url = window.location.href;
$.ajax({
  url: "/wechatbase/getconfig",
  data: {
    url: url
  },
  success: function( result ) {
    console.log(result);
  }
});
</script>
</body>