<!DOCTYPE html>
<html lang="zh-CN" style="height:100%">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
 <title>WeUI</title>      
<!--<link rel="stylesheet" href="//cdn.bootcss.com/weui/0.4.2/style/weui.css"/>
<script type="text/javascript" src="/js/jquery-2.2.4.min.js"></script>-->
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

<link rel="stylesheet" href="/node_modules/jquery-weui/dist/lib/weui.css">
<link rel="stylesheet" href="/node_modules/jquery-weui/dist/css/jquery-weui.css">
<script src="/node_modules/jquery-weui/dist/lib/jquery-2.1.4.js"></script>

</head>

<body style="height:100%">
<div class="weui_tab">
  <div class="weui_tab_bd">
    {{#each locs}}
    <div class="weui_cells weui_cells_access">
      <a class="weui_cell" href="javascript:;">
        <div class="weui_cell_bd weui_cell_primary">
          <p>{{name}}</p>
          <p>{{provincename}}{{cityname}}{{expareaname}}</p>
        </div>
        <div class="weui_cell_ft">查看详情</div>
      </a>
    </div>
      {{/each}}
  </div>
  <div class="weui_tabbar">
    <a href="/customer/send" class="weui_tabbar_item ">
      <div class="weui_tabbar_icon">
        <img src="/img/icon_nav_button.png" alt="">
      </div>
      <p class="weui_tabbar_label">寄快递</p>
    </a>
    <a href="/customer/sendrecord" class="weui_tabbar_item">
      <div class="weui_tabbar_icon">
        <img src="/img/icon_nav_cell.png" alt="">
      </div>
      <p class="weui_tabbar_label">查快递</p>
    </a>
    <a href="/customer/locnav" class="weui_tabbar_item weui_bar_item_on" >
      <div class="weui_tabbar_icon">
        <img src="/img/icon_nav_toast.png" alt="">
      </div>
      <p class="weui_tabbar_label">地址库</p>
    </a>
    <a href="javascript:;" class="weui_tabbar_item">
      <div class="weui_tabbar_icon">
        <img src="/img/icon_nav_dialog.png" alt="">
      </div>
      <p class="weui_tabbar_label">设置</p>
    </a>
  </div>
</div>
<script type="text/javascript">
//ajax访问/wechatbase/getconfig，来获取config
var url = window.location.href;
$.ajax({
  url: "/wechatbase/getconfig",
  data: {
    url: url
  },
  type:'post',
  success: function( result ) {
    console.log(result);
   //微信jssdk开发第三步
    wx.config({
        debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: result.appId, // 必填，公众号的唯一标识
        timestamp: result.timestamp, // 必填，生成签名的时间戳
        nonceStr: result.nonceStr, // 必填，生成签名的随机串
        signature: result.signature,// 必填，签名，见附录1
        jsApiList: result.jsApiList// 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
    //
    wx.ready(function(){
    // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
    });
    
    wx.error(function(res){
    // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
    });
  }
});
</script>
<style>
    body {
  background-color: #efeff4;
}
.weui_label{
    width: 5em;
}
</style>

<script src="/node_modules/jquery-weui/dist/js/jquery-weui.js"></script>
</body>