<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
 <title>WeUI</title>      
<!--<link rel="stylesheet" href="//cdn.bootcss.com/weui/0.4.2/style/weui.css"/>
<script type="text/javascript" src="/js/jquery-2.2.4.min.js"></script>-->
<script type="text/javascript" src="/bower_components/distpicker/dist/distpicker.data.js"></script>
<script type="text/javascript" src="/bower_components/distpicker/dist/distpicker.js"></script>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

<link rel="stylesheet" href="/node_modules/jquery-weui/dist/lib/weui.css">
<link rel="stylesheet" href="/node_modules/jquery-weui/dist/css/jquery-weui.css">

</head>

<body>


<div class="weui_cells weui_cells_access">
  <a class="weui_cell" href="javascript:;">
    <div class="weui_cell_bd weui_cell_primary">
      <p>cell standard</p>
      <p>cell standard2222</p>
    </div>
    <div class="weui_cell_ft">说明文字</div>
  </a>
  <a class="weui_cell" href="javascript:;">
    <div class="weui_cell_bd weui_cell_primary">
      <p>cell standard</p>
    </div>
    <div class="weui_cell_ft">说明文字</div>
  </a>
</div>


<script src="/node_modules/jquery-weui/dist/lib/jquery-2.1.4.js"></script>
<script src="/node_modules/jquery-weui/dist/js/jquery-weui.js"></script>
</body>