<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
 <title>WeUI</title>      
<link rel="stylesheet" href="//cdn.bootcss.com/weui/0.4.2/style/weui.css"/>
</head>


<body>
    <form method="POST" action="/customer/createorder">
        <div class="weui_cells_title">表单</div>
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
                <div class="weui_cell_hd">
                    <label class="weui_label">qq</label>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="tel" placeholder="请输入qq号">
                </div>
            </div>
            <div class="weui_btn_area">
                <button type="submit" class="weui_btn weui_btn_primary">提交</button>
            </div>
        </div>
        
    </form>
</body>