<!DOCTYPE html>
<html lang="zh-CN" style="height:100%">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
 <title>WeUI</title>      
<!--<link rel="stylesheet" href="//cdn.bootcss.com/weui/0.4.2/style/weui.css"/>
<script type="text/javascript" src="/js/jquery-2.2.4.min.js"></script>-->
<!--<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>-->

<link rel="stylesheet" href="/node_modules/jquery-weui/dist/lib/weui.css">
<link rel="stylesheet" href="/node_modules/jquery-weui/dist/css/jquery-weui.css">
<script src="/node_modules/jquery-weui/dist/lib/jquery-2.1.4.js"></script>

</head>

<body style="height:100%">
    <form method="POST"  action="">
        {{#each locs}}
        <div class="weui_cells weui_cells_radio">
            <label class="weui_cell weui_check_label">
                <div class="weui_cell_bd weui_cell_primary">
                <p>{{name}}</p>
                <p>{{provincename}}</p>
                </div>
                <div class="weui_cell_ft">
                <input type="radio" class="weui_check" name="radio1" id="{{_id}}">
                <span class="weui_icon_checked"></span>
                </div>
            </label>       
        </div>
        {{/each}}
        <div class="weui_btn_area">
            <button type="submit" class="weui_btn weui_btn_primary">提交</button>
        </div>
    </form>
<style>
    body {
  background-color: #efeff4;
}
.weui_label{
    width: 5em;
}
</style>

<script src="/node_modules/jquery-weui/dist/js/jquery-weui.js"></script>
</body>