<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="/org/orgdash">控制面板</a></li>
  <li role="presentation" ><a href="/org/orguserlist">用户列表</a></li>
  <li role="presentation" ><a href="/org/orderlist?p=1">订单列表</a></li>
</ul>

<div style="width:100%;height:400px">
    <canvas id="myChart" width="400px" height="400px"></canvas>
</div>


<script src="/node_modules/chart.js/dist/Chart.min.js"></script>
<script src="/node_modules/jquery-weui/dist/lib/jquery-2.1.4.js"></script>


<script type="text/javascript">
var ctx = document.getElementById("myChart");


var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{{datearray}}],
        datasets: [{
            label: '# of Votes',
            data: [{{weekdata}}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255,99,132,1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});

</script>