<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
 <title>快递员绑定</title>      
<link rel="stylesheet" href="//cdn.bootcss.com/weui/0.4.2/style/weui.css"/>
<script type="text/javascript" src="/js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/bower_components/distpicker/dist/distpicker.data.js"></script>
<script type="text/javascript" src="/bower_components/distpicker/dist/distpicker.js"></script>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>

<body>

<form method="POST"  action="/courier/userbind">
<div class="weui_cells_title">快递员绑定</div>
<div class="weui_cells weui_cells_form">
    <div class="weui_cell">
        <div class="weui_cell_hd">
            <label class="weui_label">手机号</label>
        </div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input"  name="username" type="text"  placeholder="必填">
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_hd">
            <div class="weui_label" style="padding-left: 15px;">密码</div>
        </div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input"  name="psd" type="text"  placeholder="必填">
        </div>
    </div>

    <input class="weui_input" type="hidden" name="openid"  value="{{userinfo.openid}}" type="text" placeholder="必填">
                       

</div>

<div class="weui_btn_area">
    <button type="submit" class="weui_btn weui_btn_primary" href="javascript:" >提交</button>
</div>
 </form>

<script type="text/javascript">
//ajax访问/wechatbase/getconfig，来获取config
var url = window.location.href;
$.ajax({
  url: "/wechatbase/getconfig",
  data: {
    url: url
  },
  type:'post',
  success: function( result ) {
    console.log(result);
   //微信jssdk开发第三步
    wx.config({
        debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: result.appId, // 必填，公众号的唯一标识
        timestamp: result.timestamp, // 必填，生成签名的时间戳
        nonceStr: result.nonceStr, // 必填，生成签名的随机串
        signature: result.signature,// 必填，签名，见附录1
        jsApiList: result.jsApiList// 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
    //
    wx.ready(function(){
    // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
    });
    
    wx.error(function(res){
    // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
    });
  }
});
</script>
<style>
    body {
  background-color: #efeff4;
}
.weui_label{
    width: 5em;
}
</style>
</body>